body{
  background-color: antiquewhite;
  box-sizing: border-box;
  color: aquamarine;
  margin: 0;
  padding: 0;
}

.app-container{
  display: flex;
  flex-direction: column;
  justify-content: center;
  height: 100vh;
  
}